<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>oh29oh29 - 기술블로그</title>
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/admin/home.css}" rel="stylesheet">
    <link th:href="@{/css/admin/navigation.css}" rel="stylesheet">
    <link th:href="@{/css/admin/categories.css}" rel="stylesheet">
</head>
<body>
    <th:block th:include="admin/navigation"></th:block>
    <section id="contentWrap" class="content-wrap">
        <h1 class="content-title">카테고리 관리</h1>
        <div class="category-mng-wrap category-mng-header">
            <span class="category-item category-name">이름</span>
            <span class="category-item category-ordering">순서</span>
            <span class="category-item category-visible">비공개</span>
            </div>
            <form action="/admin/categories" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="category-mng-wrap category-mng-body" th:each="category, iter : ${categories}">
                    <input type="text" class="category-item category-name" th:name="'category[' + ${iter.index} + '].name'" th:value="${category.name}"/>
                    <input type="text" class="category-item category-ordering" th:name="'category[' + ${iter.index} + '].ordering'" th:value="${category.ordering}"/>
                    <input type="checkbox" class="category-item category-visible" th:name="'category[' + ${iter.index} + '].visible'"/>
                    <button class="categoryDelBtn category-item category-del-btn">-</button>
                </div>
                <div class="category-mng-wrap">
                    <input type="text" class="category-item category-name" th:name="'category[' + ${#lists.size(categories)} + '].name'"/>
                    <input type="text" class="category-item category-ordering" th:name="'category[' + ${#lists.size(categories)} + '].ordering'"/>
                    <input type="checkbox" class="category-item category-visible" th:name="'category[' + ${#lists.size(categories)} + '].visible'"/>
                </div>
                <div class="category-mng-wrap category-btn-wrap">
                    <button id="saveBtn" class="save-btn">저장</button>
                </div>
        </form>
    </section>
    <script th:src="@{/import/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/admin/navigation.js}"></script>
    <script th:src="@{/js/admin/category.js}"></script>
</body>
</html>