<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>oh29oh29 - 기술블로그</title>
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/member/signUp.css}" rel="stylesheet">
</head>
<body>
    <th:block th:include="html/header"></th:block>
    <section>
        <div class="sign-up-wrap">
            <form class="sign-up-form" action="/member/sign-up" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <fieldset class="sign-up-fieldset">
                    <legend>기본 정보</legend>
                    <div class="sign-up-row">
                        <label for="id" class="label-for-input">아이디</label>
                        <input type="text" id="id" class="sign-up-box input-text input-short-text" name="id">
                        <button type="button" id="idCheckBtn" class="sub-btn">중복확인</button>
                        <p class="validation-msg"></p>
                    </div>
                    <div class="sign-up-row">
                        <label for="password" class="label-for-input">비밀번호</label>
                        <input type="password" id="password" class="sign-up-box input-text" name="passwd">
                        <p class="validation-msg"></p>
                    </div>
                    <div class="sign-up-row">
                        <label for="passwordConfirm" class="label-for-input">비밀번호 확인</label>
                        <input type="password" id="passwordConfirm" class="sign-up-box input-text">
                        <p class="validation-msg"></p>
                    </div>
                    <div class="sign-up-row">
                        <label for="name"l class="label-for-input">이름</label>
                        <input type="text" id="name" class="sign-up-box input-text" name="name">
                        <p class="validation-msg"></p>
                    </div>
                </fieldset>
                <fieldset class="sign-up-fieldset">
                    <legend>부가 정보</legend>
                    <div class="sign-up-row">
                        <label for="passwordQuestion" class="label-for-input">비밀번호 찾기 질문</label>
                        <input type="text" id="passwordQuestion" class="sign-up-box input-text" name="passwdQuestion">
                        <p class="validation-msg"></p>
                    </div>
                    <div class="sign-up-row">
                        <label for="passwordAnswer" class="label-for-input">비밀번호 찾기 답변</label>
                        <input type="text" id="passwordAnswer" class="sign-up-box input-text" name="passwdAnswer">
                        <p class="validation-msg"></p>
                    </div>
                </fieldset>
                <div class="sign-up-row">
                    <button id="submitBtn" class="sign-up-box submit-btn">가입하기</button>
                </div>
            </form>
        </div>
    </section>
    <script th:src="@{/import/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/member/validator.js}"></script>
    <script th:src="@{/js/member/signUp.js}"></script>
</body>
</html>