<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>oh29oh29 - 기술블로그</title>
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/member/signIn.css}" rel="stylesheet">
</head>
<body>
    <th:block th:include="header"></th:block>
    <section>
        <div class="sign-in-wrap">
            <form class="sign-in-form" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div>
                    <input type="text" id="id" class="sign-in-box input-text input-id" name="id" placeholder="아이디">
                </div>
                <div>
                    <input type="password" id="password" class="sign-in-box input-text" name="passwd" placeholder="비밀번호">
                </div>
                <div class="sign-in-ok-row">
                    <button id="submitBtn" class="sign-in-box submit-btn">로그인</button>
                </div>
                <div class="sign-in-option-row">
                    <a href="/member/search/id" id="idSearchLink" class="option-link id-search-link">아이디 찾기</a>
                    <a href="/member/search/password" id="passwdSearchLink" class="option-link passwd-search-link">비밀번호 찾기</a>
                    <a href="/member/sign-up" id="signUpLink" class="option-link sign-up-link">회원가입</a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>