.category-item {
    display: inline-block;
    line-height: 30px;
}
.category-name {
    width: 156px;
}
.category-ordering {
    width: 36px;
    text-align: center;
}
.category-visible {
    margin: 10px;
}
.category-btn {
    width: 30px;
}
.category-mng-wrap {
}
.category-mng-header .category-name {
    width: 160px;
}
.category-mng-header .category-ordering {
    width: 40px;
}
.category-mng-header .category-visible {
    width: 80px;
    margin: 0;
    text-align: center;
}