.sign-in-wrap {
    width: 500px;
    margin: 0 auto;
}
.sign-in-form {
    font-size: 0;
}
.sign-in-ok-row {
    margin: 50px 0 0 0;
}
.sign-in-option-row {
    margin: 15px 0 0 0;
    text-align: center;
}
.sign-in-box {
    width: 466px;
    line-height: 40px;
    font-size: 16px;
}
.input-text {
    padding: 0 15px;
    border: 1px solid #000;
}
.input-id {
    border: 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.submit-btn {
    width: 500px;
}
.option-link {
    font-size: 12px;
    margin: 0 10px;
    text-align: center;
}
.id-search-link {

}
.passwd-search-link {

}
.sign-up-link {

}