.sign-up-wrap {
    width: 500px;
    margin: 0 auto;
}
.sign-up-form {
    font-size: 0;
}
.sign-up-fieldset {
    border: 0;
    margin: 0 0 50px 0;
}
.sign-up-fieldset legend{
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px 0 0;
}
.sign-up-row {
    margin: 25px 0;
}
.label-for-input {
    font-size: 16px;
    display: block;
}
.sign-up-box {
    line-height: 40px;
    font-size: 16px;
}
.input-text {
    width: 468px;
    padding: 0 15px;
    border: 1px solid #000;
}
.input-short-text {
    width: 389px;
    vertical-align: middle;
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.validation-msg {
    display: none;
    font-size: 13px;
    padding: 5px 0 0 0;
    color: #ff0000;
}
.sub-btn {
    width: 80px;
    line-height: 40px;
    vertical-align: middle;
    background: none;
    border: 1px solid #000;
}
.ready-sub-btn {
    color: #FAED7D;
}
.failure-sub-btn {
    color: #F15F5F;
}
.success-sub-btn {
    color: #86E57F;
}
.submit-btn {
    width: 500px;
    margin: 20px 0;
    font-weight: bold;
    background-color: green;
}
.submit-btn:focus {
    background-color: gray;
}